.forecast-today {
  width: 80%;
  height: 60%;
  margin: 30px auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #1e202b;
}
.forecast-today .forecast-footer {
  display: flex;
}
.forecast-today .forecast-footer .date {
  padding: 2px;
  text-align: center;
  margin-left: 23%;
}
.forecast-today .forecast-content {
  text-align: left;
}
.forecast-today .location {
  font-weight: 400;
  font-size: 5em;
  text-align: center;
}

.forecast-flex-container {
  text-align: center;
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}
.forecast-flex-container .degree {
  padding: 0px;
  text-align: center;
  width: 50%;
  margin: auto;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}
.forecast-flex-container .forecast-icon {
  width: 50%;
  margin: auto;
  padding: 0%;
  float: right;
}

.forecast-flex-container .degree .num {
  font-size: 3em;
}
.forecast-today span {
  margin-right: 20px;
}
.forecast-today span img {
  margin-right: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 990px) {
  .forecast-today {
    display: block;
    width: 100%;
  }
}

.forecast-container .forecast .forecast-icon {
  height: 50px;
}
.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}
.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}
.forecast-container .forecast .forecast-content .degree {
  color: white;
  font-weight: 700;
}
